@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin:0;
  padding:0;
}

:root {
  --primary-black: #212429;
  --primary-white:  #ffffff;
  --title-size: 32px;
  --cards-size: 14px;
  --secundary-size: 16px;
  --font-normal: 400;
  --font-bold:700;
  --viewport-width:1280px;
}

.navbar {}

.main-content{
  max-width: 1280px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding:32px;
}

 .main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--title-size);
  font-weight: var(--font-bold);
  color:var(--primary-black);
  padding-bottom:32px;
}

.container__cards{
  max-width: 1280px;
  width: 100%;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap:32px;
  padding:0;
}
@media (min-width:768px) {
  .container__cards{
    padding:0 64px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin:0 auto;
  gap:16px; 
} 

.card-img{
  width: fit-content;
  border-radius: 16px; 
  /* align-self: center; */
}

 .info-card__container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 16px;
}

.name_card, .price_card{
  color:var(--primary-black);
  font-size: var(--cards-size);
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--font-normal);
}

.price_card {
  font-weight: var(--font-bold);
} 